

footer hr {
  display: block;
  position: absolute;
  border-top: 2px solid white;
  z-index:3;
  left: 0px;
  width: 100%;
  border-width: 12px;
}

footer hr.right {
  left: auto;
  right: 0px;
}

footer hr#thread1 {
  -webkit-animation: thread1 4s infinite;
  -moz-animation: thread1 4s infinite;
  -o-animation: thread1 4s infinite;
  animation: thread1 4s infinite;
}

footer hr#thread1Half {
  -webkit-animation: thread1 4s infinite;
  -moz-animation: thread1 4s infinite;
  -o-animation: thread1 4s infinite;
  animation: thread1 4s infinite;
}

footer hr#thread2 {
  margin-top: 4em;
  -webkit-animation: thread2 8s infinite;
  -moz-animation: thread2 8s infinite;
  -o-animation: thread2 8s infinite;
  animation: thread2 8s infinite;
}

footer hr#thread3 {
  margin-top: 6em;
  border-color: #f2ff00;
  -webkit-animation: thread2 6s infinite;
  -moz-animation: thread2 6s infinite;
  -o-animation: thread2 6s infinite;
  animation: thread2 6s infinite;
}

footer hr#thread4 {
  margin-top: 8em;
  border-color: #b23836;
  -webkit-animation: thread1 12s infinite;
  -moz-animation: thread1 12s infinite;
  -o-animation: thread2 12s infinite;
  animation: thread2 12s infinite;
}

footer hr#thread5 {
  margin-top: 10em;
  border-color: #3953a4;
  -webkit-animation: thread2 16s infinite;
  -moz-animation: thread2 16s infinite;
  -o-animation: thread2 16s infinite;
  animation: thread2 16s infinite;
}

footer hr#thread6 {
  margin-top: 12em;
  -webkit-animation: thread2 6s infinite;
  -moz-animation: thread2 6s infinite;
  -o-animation: thread2 6s infinite;
  animation: thread2 6s infinite;
}
@-webkit-keyframes thread1 {
  0% {
    width: 20%;
  }

  50% {
    width: 20%;
  }

  80% {
    width: 0px;
  }

  100% {
    width: 20%;
  }
}

@-moz-keyframes thread1 {
  0% {
    width: 20%;
  }

  50% {
    width: 20%;
  }

  80% {
    width: 0px;
  }

  100% {
    width: 20%;
  }
}

@-o-keyframes thread1 {
  0% {
    width: 20%;
  }

  50% {
    width: 20%;
  }

  80% {
    width: 0px;
  }

  100% {
    width: 20%;
  }
}

@keyframes thread1 {
  0% {
    width: 20%;
  }

  50% {
    width: 20%;
  }

  80% {
    width: 0px;
  }

  100% {
    width: 20%;
  }
}

@-webkit-keyframes thread2 {
  0% {
    width: 100%;
  }

  50% {
    width: 100%;
  }

  80% {
    width: 0px;
  }

  100% {
    width: 100%;
  }
}

@-moz-keyframes thread2 {
  0% {
    width: 100%;
  }

  50% {
    width: 100%;
  }

  80% {
    width: 0px;
  }

  100% {
    width: 100%;
  }
}

@-o-keyframes thread2 {
  0% {
    width: 100%;
  }

  50% {
    width: 100%;
  }

  80% {
    width: 0px;
  }

  100% {
    width: 100%;
  }
}

@keyframes thread2 {
  0% {
    width: 100%;
  }

  50% {
    width: 100%;
  }

  80% {
    width: 0px;
  }

  100% {
    width: 100%;
  }
}*