body {
    /*Font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
    font-family: "Titillium web" !important;
    background-color: #fc238f !important;
}

.img{
    content-visibility: auto !important;
}

.social-icon a{
    color:black !important;
}

.center {
    margin: auto;
    width: 60%;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
}

/* Text */
.h2_title_container {
    position: relative;
    text-align: left;
    margin-bottom: 0;
}
.title{
    font-size: 3vw;
    font-weight: 400;
    color: white;
}´
.text_subt{
    font-size:large;
}


.text-description{
    text-align: center;
    vertical-align: middle;
    margin-top:-1.5vh;
    margin-bottom:4vh;
    line-height: 5px; 
}

.titel_secondary {
    font-size: medium;
    font-weight: 400;
    color: white;
}

.text_title {
    color: beige;
    font-weight: lighter;
}

.text {
    font-weight: 1;
}

ul li {
    list-style-type: none;
}
/* Navbar Portfolio*/
.titel_nav_c {
    color: beige;
    font-size: 4vw;
    font-weight: lighter;
}

#navContent{
    width: fit-content;
}

.nav-item{
    border-left: 2px solid #b8b5b6;
    margin-right: 2vw;
    
}
.navbar{
    background-color: rgba(255, 255, 255, 0.127);
    box-shadow:
        8px 8px #fc238f;

}

.selected{
    font-weight: bold !important;
    color:rgb(255, 255, 255)!important;
}

.navbar_text {
    margin-left: 1vw;
    color: oldlace;
    font-weight: 200;
    font-size: medium;
}

.navbar_text:hover {
    font-weight: 700;
    color: white;
}

.navbar_title {
    color: oldlace;
    font-weight: 400;
    font-size: 1vw;
}

.navbar_title:hover {
    font-weight: 700;
    color: white;
}

.nav_button {
    color: white;
}

/*Content*/
.text_style {
    font-weight: 1;
}

.hr_subtitle {
    border: 0 none;
    background: #D93D86;
    height: 2px;
    margin-bottom: 15px
}



/* STUFF */
.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
}


.divFlexMid{
    display: flex!important;
}


.form-color {
    color:#F2F2F2;
}

.form-color:hover {
    color:#ffffff;
    transition: 0.3;
    font-weight: 800;
    text-decoration: underline;
}


.tz-gallery h3{
    width: 100%;
}
